body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 600px;
  min-height: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 10px gray;
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 25px;
}

.input-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskInput {
  width: 75%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
}

#addBtn {
  width: 20%;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

li {
  list-style: none;
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

li.completed { text-decoration: line-through; color: gray; }

button.delete {
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}
